body {
    background-image: url(../images/travel.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: rgb(42, 11, 182);
    display: flex;
}
.container {
    margin: auto;
    text-align: center;
}
#currentWord {
    letter-spacing: 10px;
}